#header{
	height:0.545rem;
	width:100%;
	background:white;
	text-align:center;
	line-height:0.545rem;
	font-size:0.16rem;
	font-weight:bolder;
	position:fixed;
	top:0;
	left:0;
}

#Amanda{
	ul{
		height:6.2rem;
		overflow: auto;
		background:white;
		li:nth-child(1){
			margin-top:0.545rem;
		}
		li{
			width:100%;
			height:2.915rem;
			img{
				width:100%;
				height:1.99rem;
			}
			section{
				width:100%;
				height:0.865rem;
				padding:0rem 0.124rem;
				.left{
					line-height:2;
					font-size:0.12rem;
					color:#f60;
					font-weight:bolder;
					margin-right:0.05rem;
				}
				.middle{
					line-height:2;
					font-size:0.12rem;
					color:#999;
				}
				.right{
					line-height:2;
					font-size:0.12rem;
					color:#999;
					margin-left:0.05rem;
				}
				.p1{
					line-height:2;
					font-size:0.16rem;
					color:#000;
				}
				.p2{
					font-size:0.12rem;
				}
			}
		}
	}
}