#all{
	background:white;
}

#banner{
	overflow:hidden;
	width:100%;
	height:1.76rem;
}

#root{
	height:1.78rem;
	overflow:hidden;
	ul{
		li{ 
			margin:0.1rem 0rem 0.1rem 0rem;
			text-align: center;
			img{
				margin:0rem 0.233rem 0.05rem 0.233rem; 
				width:0.47rem;
				height:0.47rem;
			}
			p{
				font-size: 0.12rem;
			}
			float:left;
		}
	}
}

#fresh{
	border-bottom:0.1rem solid #eeeeee;
	overflow:hidden;
	height:2.5rem;
	.pic{
		width:100%;
		height:2.26453rem;
		padding:0rem 0.08rem 0.1rem 0.08rem;
		ul{
			li:nth-child(1){
				float:left;
				img{
				width:1.418rem;
				height:2.264rem;
				margin-right:0.05rem;
				}
			}
			li:nth-child(2){
				float:left;
				img{
				width:2.121rem;
				height:1.142rem;
				}
			}
			li:nth-child(3){
				float:left;
				img{
				width:1.03594rem;
				height:1.07086rem;
				margin-right:0.05rem;
				}
			}
			li:nth-child(4){
				float:left;
				img{
				width:1.03594rem;
				height:1.07086rem;
				}
			}
		}
	}
}

#piclist2{
	height:1.76rem;
	img{
		width:100%;
		height:1.76rem;
	}
}

#rootlists{
	height:2.235rem;
	width:100%;
	border-bottom:0.1rem solid #eee;
	.ontitle{
		background:white;
		height:0.425rem;
		width:100%;
		img{
			width:0.18rem;
			height:0.18rem;
			float:left;
			margin:0.12rem 0rem 0rem 0.1rem;
		}
		p{
		line-height:0.425rem;
		font-weight:bolder;
		float:left;
		margin-left:0.08rem;
		font-size:0.15rem;
		}
	}
	.bottomlist{
		height:1.81rem;
		width:100%;
		overflow-y:hidden;
	  .boxlist{
	  	overflow:auto;
	  	height:2rem;
		ul{
			height:1.535rem;
			display:flex;
			li{
				margin:0rem 0.05rem 0rem 0.05rem;
				width:1.15rem;
				height:1.535rem;
				img{
					width:1.15rem;
					height:1.15rem;
				}
				p{
				   width: 100%;
				   white-space:nowrap;
				   overflow: hidden;
				   text-overflow: ellipsis;
				   font-size:0.12rem;
				}
				article{
				   line-height: 1.5;
				   font-size:0.12rem;
				}
			}
		}
	  }
	}
}

#underlist{
		border-top:0.1rem solid #eeeeee;
	.box:nth-child(1){
		border-top:1px solid #ccc;
	}
	.box:last-child{
		margin-bottom:0.52rem;
	}
	.box{
		width:100%;
		height:1.5rem;
		padding-top:0.1rem;
		border-bottom:1px solid #ccc;
		.left{
			float:left;
			width:1.3rem;
			height:1.3rem;
			img{
				width:1.3rem;
				height:1.3rem;
			}
		}
		.right{
			padding:0rem 0.08rem 0rem 0.08rem;
			float:left;
			width:2.4rem;
			height:1.3rem;
			.p1{
				margin-top:0.12rem;
				margin-bottom: 0.25rem;
				line-height:1.5;
				font-size:0.14rem;
				width:2.29rem;
				height:0.42rem;
			}
			.p2{
				font-size:0.1rem;
				line-height:1.5;
				color:#999; 
			}
			.price{
				font-size:0.18rem;
			}
			.car{
				float:right;
				width:0.3rem;
				height:0.3rem;
				background:#f60;
				line-height:0.3rem;
				text-align:center;
				border-radius:50%;
				i{
					color:white;
					font-size:0.15rem;
					font-weight:bolder;
				}
			}
		}	
	}
}

.loader{
	height:1rem;
}